.home-page{
    background-color:#d0e0e3;
}

body{
    font-family: 'Franklin Gothic Light';
}

.home-content-div{
    text-align: center;
}

.home-content-div p{
    font-size: small;
}

.navbar{
    background-color: #efffff;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar a{
    text-decoration: none;
    font-size: large;
}

.facts-page{
    background-color: #e4baf7;
}

.gallery-content button{
    border: 30%;
    padding: 1%;
    margin: 1%;
    background-color: #e4baf7;
    border-color: #e4baf7;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}