.home-page{
    background-color:#e5a778;
}

body{
    font-family: 'Franklin Gothic Light';
}

.home-content-div{
    text-align: center;
}

.home-content-div p{
    font-size: small;
}

.navbar{
    background-color: #d2d2d2;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 2%;
}

.navbar a{
    text-decoration: none;
    font-size: large;
}

.facts-page{
    background-color: #ff0000;
}

.home-content-div{
    margin-left: 10%;
}

.facts-content-div li{
    font-size: large;
}

.gallery-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-content button{
    border: 30%;
    padding: 1%;
    margin: 1%;
    background-color: #f8f8f8;
    border-color: #e99494;
    border: none;
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    height: 1%;
}